<!DOCTYPE html>
<html lang="en">
<head>
   <title>{{ title }}</title>
   <link rel="StyleSheet" href = '../css/tach.css' type="text/css">
   <script src="//code.jquery.com/jquery-1.10.2.js"></script>
   <script language = 'JavaScript' type = 'text/javascript' src = '../js/tach.js'></script>
</head>
<body onload = "convertToTree()">
{% block content %}{% endblock %} 
</body>
</html>
