{% extends "base.html.jinja" %}
{% block content %}
<div class ="container">
      <div class ="heading">
        <h1>{{ title }}</h1>   
      </div>
      <div class ="gallery">
      <ul id ="myUL">
       {% for key, value in tachFile.items() recursive %}
         {% if value is string or value is number %}
           <li><span>{{ key }}:  <div class = value>{{ value }} </div> </span>
	 {% else %} 
          {% set outer_loop = loop %}
          <li><span class ='caret'>{{ key }}</span>
           <ul class='nested'>
             {% if value is mapping %}
                 {{ loop(value.items()) }}
             {% elif value is iterable %}
                  {% for item in value %}
                   <li>
                    {% if item is mapping %}
                       {{ outer_loop(item.items()) }}
                    {% else %}
                      <li>{{ item }}</li> 
                    {% endif %}
                  </li>
                 {% endfor %}
             {% else %}
                <li> {{ value }}<li>
             {% endif %}
           </ul>
          </li>
         {% endif %}
     {% endfor %}
     </ul>
     </div>
</div>
{% endblock %}
