name: Validate
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    uses: nasa-gcn/.github/.github/workflows/node.yml@main
    with:
      test-options:
