name: Validate
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    uses: nasa-gcn/.github/.github/workflows/node.yml@main
    with:
      test-options:
  bump:
    name: dry run of version bump
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: '20.x'
      - name: Configure git identity
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
      - name: Install package
        run: npm ci
      - name: Bump version
        run: npm version patch
      - name: Run validation
        run: npm test
